{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    "transform-react-jsx",
    [
      "istanbul",
      {
        "include": [
          "src/**.*"
        ],
        "exclude": [
          "dist/**.*",
          "node_modules/**.*",
          "tests/**.*"
        ]
      }
    ]
  ]
}