{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [[
        "babel-plugin-istanbul",
        {
          "include": [
            "src"
          ],
          "exclude": [
            "dist",
            "test"
          ]
        }
      ]]
    }
  }
}
