.idea
*.iml
.DS_Store
.npmrc
/build
/temp
/dist

# dependency directories
node_modules/
jspm_packages/

# logs
logs
*.log
npm-debug.log*

# npm cache directory
.npm

# jsdoc
out/

# code coverage
coverage/

# for temporary dependencies
*.tgz