name: Continuous Integration
on: pull_request

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Install dependencies
        run: npm ci
      - name: Build the project
        run: npm run build:prod
      - name: Run tests and do code coverage check
        run: npm run test:coverage
      - name: Prettify code
        uses: creyD/prettier_action@v4.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload code coverage report to workflow as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: istanbul-code-coverage.zip
          path: coverage
      - name: Upload code coverage report to codecov.io and comment in pull request
        uses: codecov/codecov-action@v3
